.header {
    text-align: center;
    color: #6f6f6f;
    background: #ffff;
    min-height: 55px;
}

.top {
    padding-top: 30px;
    vertical-align: middle;
    min-height: 55px;
}

.footer {
    background: #f8f8f8;
    clear: both;
    position: relative;
}

header {
    background: #3c8dbc;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #ffffff;
}

header .admin .owner {
    text-align: center;
    font-weight: 700;
    font: 20px;
}

.main {
    font-family: "roboto-regular", sans-serif;
    padding-left: 0px;
    background: #e6e6e6;
    overflow-x: hidden;
}

.main .dashboard {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #006837;
    text-align: center;
    color: #ffffff;
}

.main .left {
    background: grey;
}

.main .left .leftSide .option {
    padding-left: 30px;
    min-height: 800px;
}

.main .left .leftSide .option .flex-column .nav-item {
    padding-top: 20px;
}

.main .left .leftSide .option .flex-column .nav-item .nav-link {
    color: #ffffff;
}

.main .left .leftSide .option .flex-column .nav-item .nav-link:hover {
    background: #e6e6e6;
}

.main .rightSide .navigasi {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main .rightSide .navigasi ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #e6e6e6;
}

.main .rightSide .navigasi ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

.main .rightSide .navigasi ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.main .rightSide .navigasi ul.breadcrumb li a {
    color: grey;
    text-decoration: none;
}

.main .rightSide .navigasi ul.breadcrumb li a:hover {
    color: grey;
    text-decoration: underline;
}

.main .rightSide .addProduct {
    float: right;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
}

.main .rightSide .addProduct .btn-secondary {
    background: #006837;
}

.main .rightSide .listProduct {
    min-height: 800px;
}

.main .rightSide .listProduct .card {
    min-height: 550px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-left: 60px;
    border-radius: 30px;
}

.main .rightSide .listProduct .card .table {
    text-align: center;
    margin-bottom: 100px;
    color: grey;
}

.main .rightSide .listProduct .card .table th {
    width: 220px;
    background: #e6e6e6;
}

.main .rightSide .listProduct .card .table img {
    width: 100px;
}

.main .rightSide .listProduct .card .table .fa-trash {
    color: red;
    font-size: 16px;
}

.main .rightSide .listProduct .card .pagination {
    padding-left: 650px;
}

.main .rightSide .listProduct .card .pagination .page-link {
    color: grey;
}

.main .footer {
    background: #ffffff;
    color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.add {
    font-family: "roboto-regular", sans-serif;
    padding-left: 0px;
    background: #e6e6e6;
    overflow-x: hidden;
}

.add .dashboard {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #006837;
    text-align: center;
    color: #ffffff;
}

.add .left {
    background: grey;
}

.add .left .leftSide .option {
    padding-left: 30px;
    min-height: 800px;
}

.add .left .leftSide .option .flex-column .nav-item {
    padding-top: 20px;
}

.add .left .leftSide .option .flex-column .nav-item .nav-link {
    color: #ffffff;
}

.add .left .leftSide .option .flex-column .nav-item .nav-link:hover {
    background: #e6e6e6;
}

.add .rightSide .navigasi {
    margin-top: 15px;
    margin-bottom: 15px;
}

.add .rightSide .navigasi ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #e6e6e6;
}

.add .rightSide .navigasi ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

.add .rightSide .navigasi ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.add .rightSide .navigasi ul.breadcrumb li a {
    color: grey;
    text-decoration: none;
}

.add .rightSide .navigasi ul.breadcrumb li a:hover {
    color: grey;
    text-decoration: underline;
}

.add .rightSide .addProduct {
    float: right;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
}

.add .rightSide .addProduct .btn-secondary {
    background: #006837;
}

.add .rightSide .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    border-radius: 30px;
    height: 700px;
}

.add .rightSide .wrapper .card {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: 500px;
    border-radius: 30px;
    background: #ffffff;
}

.add .rightSide .wrapper .card input, .add .rightSide .wrapper .card textarea {
    width: -webkit-fill-available;
    background: #e6e6e6;
    border: 1px solid #17202A;
}

.add .rightSide .wrapper .card .preview {
    background-color: #e6e6e6;
    border: 1px solid #17202A;
    height: 180px;
    width: -webkit-fill-available;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
}

.add .rightSide .wrapper .btn {
    margin-right: 20px;
    width: 120px;
}

.add .rightSide .wrapper .btn .btn-secondary, .add .rightSide .wrapper .btn btn-danger {
    margin-top: 25px;
    width: 100px;
}

.add .rightSide .wrapper .submit {
    float: right;
    padding-top: 50px;
}

.add .footer {
    background: #ffffff;
    color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.konten {
    background: #e6e6e6;
    min-height: 780px;
    overflow: hidden;
}

.konten .fa-trash {
    color: #ED1C24;
    font-size: 20px;
}

.konten .fa-plus-circle, .konten .fa-minus-circle {
    color: #ED1C24;
    font-size: 24px;
    border-radius: 30px;
    border: none;
}

.konten .midle {
    width: 150px;
    background: #e6e6e6;
    color: #4d4d4d;
}

.konten hr {
    border-top: 2px dashed #ED1C24;
}

.konten h3 {
    margin: 30px;
    color: #4d4d4d;
}

.konten .margin {
    margin-left: 50px;
    margin-bottom: 30px;
}

.konten .modal-dialog {
    border-radius: 50px;
}

.konten .button {
    border-radius: 30px;
}

.konten .cari {
    background: #ED1C24;
    color: #e6e6e6;
}

.konten .search {
    margin-left: 30px;
    border-radius: 50px;
}

.konten .tabel th, .konten .tabel td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.konten th, .konten td {
    width: 200px;
}

.konten tr {
    height: 70px;
}

.konten .list {
    background: #ffff;
    border-radius: 30px;
    margin-top: 20px;
    min-height: 400px;
    height: auto;
    min-height: 650px;
    border: 1px;
}

.konten .list img {
    height: 60px;
}

.konten .list table {
    text-align: center;
}

.konten .details {
    background: #ffff;
    border-radius: 30px;
    min-height: 420px;
    min-height: 670px;
    border: 1px;
    height: auto;
}

.konten .details table {
    text-align: center;
}

.konten .details .buttom {
    height: auto;
    margin-left: 20px;
    color: #999999;
}

.konten .details .button {
    margin: center;
    margin-bottom: 30px;
    width: 200px;
    background: #ED1C24;
}
