<script id="list-mustache" type="x-tmpl-mustache" >
    <tr>
        <td>1</td>
        <td class="js-produk"> </td>
        <td class="js-qwt"></td>
        <td class="js-price"></td>
        <td><a href=""><i><span class="fa fa-trash"></span></i></a></td>
    </tr>
</script>